* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container-1 {
  margin-top: 10px;
  display: flex;
  height: 900px;
  background-image: url("/Users/apple/Documents/0-Craft/digart/1-front/public/container-background.svg");
  background-repeat: no-repeat;
  border-radius: 20px;
}

#sky {
  flex: 2;
  background-color: lightblue;
  padding: 20px;
  margin: 10px;
  opacity: 70%;
}

#contentor {
  flex: 1;
  background-color:antiquewhite;
  padding: 20px;
  margin: 10px;
  opacity: 70%;
}